<?xml version="1.0" ?>
<config>
    <modules>
        <School_First>
            <version>0.0.1</version>
        </School_First>
    </modules>
    <global>
        <events>
            <controller_front_init_routers>
                <observers>
                    <school_first_model_observer>
                        <type>singleton</type>
                        <class>School_First_Model_Observer</class>
                        <method>checkForConfigRequest</method>
                    </school_first_model_observer>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
</config>